html {
    font-size: 14px;
    color: #262626;
    font-family: 'Open Sans', sans-serif;
    }
    
    body {
    background-color: #ffffff;
    margin: 0;
    font-size: 95%;
    }
    
    @font-face {
    font-family: Gotham-Book;
    src: url("/styles/coursesites/GothamBook.otf") format("opentype");
    }
    
    a:visited {
    color: #c56fd5;
    }
    
    a {
    color: #ffffff;
    }
    
    a:hover {
    color: #2075a3;
    }
    
    .show-on-small-only {
    display: none !important;
    }
    
    .show-on-medium-down {
    display: none !important;
    }
    
    
    
    
    
    .header-logo-subtitle {
    height: 1.214rem;
    font-family: 'Gotham-Book', serif;
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
    }
    
    
    .clearfix {
    clear: both;
    }
    
    .italic-instructions {
    font-size: 1rem;
    color: #cdcdcd;
    text-align: right;
    font-weight: 100;
    line-height: 1rem;
    }
    
    
    .float-right {
    float: right;
    }
    
    .float-left {
    float: left;
    }
    
    .align-center {
    text-align: center;
    }
    
    .label {
    display: block;
    font-family: 'Open Sans', sans-serif;
    }
    
    .label.medium {
    font-size: 1rem;
    font-weight: 400;
    height: 1.357rem;
    line-height: 1.357rem;
    padding-bottom: 0.8571rem;
    padding-top: 1.429rem;
    }
    
    .label.large {
    font-size: 1.286rem;
    height: 1.714rem;
    padding-bottom: 1.429rem;
    font-weight: 400;
    line-height: 1.714rem;
    }
    
    
    
    input[type="text"], input[type="password"], select {
    width: 23.9286rem;
    height: 36px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #cdcdcd;
    font-size: 1rem;
    padding-left: 0.7143rem;
    padding-right: 0.7143rem;
    }
    
    input[type="text"]:focus, input[type="password"]:focus, select:focus {
    border: 1px #c56fd5 solid;
    box-shadow: inset 0 0 0 4px rgba(197, 111, 213, 0.2);
    outline: none;
    }
    
    :focus {
    outline: solid 2px #2f8df7
    }
    
    select {
    width: 25.3571rem;
    height: 3.071rem;
    
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    
    background-image: linear-gradient(45deg, transparent 50%, black 50%), linear-gradient(135deg, black 50%, transparent 50%);
    background-position: calc(100% - 1rem) calc(1em + 0.4286rem), calc(100% - 0.7143rem) calc(1em + 0.4286rem);
    background-size: 0.3571rem 0.3571rem, 0.3571rem 0.3571rem;
    background-repeat: no-repeat;
    
    }
    
    select::after {
    width: 0.4286rem;
    height: 0.3571rem;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    background-color: #333333;
    }
    
    
    .m-section {
    background-color: #ffffff;
    color: #262626;
    padding-top: 4.286rem;
    padding-left: 2.1428rem;
    padding-right: 2.1428rem;
    }
    
    .m-section:nth-child(even) {
    background-color: #f0f0f0;
    }
    
    .m-subsection {
    max-width: 87.15rem;
    margin: 0 auto 0 auto;
    padding-bottom: 4.857rem;
    display: flex;
    }
    
    .welcome-section .m-header {
    padding-bottom: 4rem;
    }
    
    .m-header {
    padding-bottom: 2.143rem;
    }
    
    .image-left-section .m-header, .image-right-section .m-header {
    padding-bottom: 1.429rem;
    }
    
    .m-header-text {
    font-weight: lighter;
    text-align: center;
    color: #262626;
    }
    
    .m-header-text.xlarge {
    font-size: 3.4286rem;
    line-height: 3.4286rem;
    font-weight: lighter;
    padding-bottom: 0.75rem;
    font-family: 'Noto Serif', sans-serif;
    }
    
    .m-header-text.large {
    font-size: 2.1428rem;
    font-family: 'Noto Serif', serif;
    padding-bottom: 0.75rem;
    }
    
    .m-header-text.medium {
    font-size: 1.4285rem;
    font-weight: lighter;
    line-height: 1.4285rem;
    padding-bottom: 1rem;
    }
    
    .m-header-text.small {
    font-size: 1.429rem;
    
    }
    
    .m-image {
    max-width: 41.43rem;
    width: 100%;
    background-color: #5e5e5e;
    }
    
    .m-image750 {
    max-width: 100rem;
    width: 100%;
    background-color: #5e5e5e;
    max-width: 33rem;
    margin: 0 auto;
    max-width: 23.5rem;
    
    }
    
    .m-subsection .float-right {
    max-width: 41.43rem;
    padding-left: 4.286rem;
    }
    
    .m-subsection .float-left {
    max-width: 50%;
    }
    
    .image-right-section .m-subsection .float-left, .image-left-section .m-subsection .float-right {
    padding-left: 4.286rem;
    padding-right: 0;
    }
    
    .image-left-section .m-subsection .float-right {
    padding-right: 4.286rem;
    }
    
    .image-right-section .m-subsection .float-right, .image-left-section .m-section .float-left {
    max-width: 53.57rem;
    }
    
    .image-left-section .m-header-text, .image-right-section .m-header-text {
    text-align: left;
    }
    
    .align-middle {
    display: flex;
    align-items: center;
    max-height: 45rem;
    }
    
    .m-subheading {
    font-family: 'Noto Serif', serif;
    font-size: 2.1428rem;
    padding-bottom: 0.75rem;
    margin-top: -0.3571rem;
    }
    
    p a {
    color: #1974a5;
    }
    
    p a:visited {
    color: #a32cb7;
    text-decoration: none;
    }
    
    .m-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.429rem;
    font-weight: lighter;
    }
    
    .m-browser-image-container {
    width: 100%;
    }
    
    .m-browser-image-container img {
    max-width: 55rem;
    width: 100%;
    background-color: #5e5e5e;
    margin-left: auto;
    margin-right: auto;
    }
    
    .register-button {
    margin-top: 2.2143rem;
    width: 12.21rem;
    background-color: #262626;
    }


.welcome-image {
    padding-bottom: 2.857rem;
    }
    
    
    
    
    .main-content {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.429rem;
    }
    
    @media screen and (max-width: 768px) and (min-width: 321px) {
    
    /* common styles */
    .hide-on-medium-down {
      display: none !important;
    }
    
    .show-on-medium-down {
      display: block !important;
    }
    
    .float-left, .float-right {
      width: 100%;
    }
    
    
    
    .header-logo-subtitle {
      font-size: 0.7143rem;
    }
    
    
    .m-header {
      width: 100%;
    }
    
    .m-section {
      padding-top: 2.143rem;
    }
    
    .m-subsection {
      width: 100%;
      max-width: 100%;
      display: block;
      padding-bottom: 2.143rem;
    }
    
    .m-subsection .float-right, .m-subsection .float-left {
      max-width: 100%;
      text-align: center;
    }
    
    .welcome-section .m-header {
      padding-bottom: 2.143rem;
    }
    
    .image-left-section .m-header-text, .image-right-section .m-header-text {
      text-align: center;
    }
    
    .image-right-section .m-subsection .float-left, .image-left-section .m-subsection .float-right,
    .m-subsection .float-left, .m-subsection .float-right {
      padding: 0;
    }
    
    .m-header-text.xlarge {
      font-size: 2.571rem;
      line-height: 2.857rem;
      padding-bottom: 0.75rem;
    }
    
    .m-header-text.large {
      font-size: 2rem;
      padding-bottom: 0.75rem;
    }
    
    .m-header-text.medium {
      font-size: 1.5rem;
    }
    
    .m-header-text.small {
      font-size: 1.5rem;
    }
    
    .m-header-text {
      font-weight: lighter;
    }
    
    .m-image {
      max-width: 45rem;
    }
    
    .m-browser-image-container img {
      max-width: 45.2857rem;
    }
    
    
    .con{
      font-size: 24px;
      color: #000769;
  }
  
    .align-middle {
      min-height: auto;
    }
    
    .m-subheading {
      font-size: 2rem;
      padding-bottom: 0.75rem;
      max-width: 33.2142rem;
      margin: 0 auto;
    }
    
    .m-text {
      font-size: 1.5rem;
      font-weight: lighter;
      margin: 0 auto;
    }
    
    
    
    select, input[type="text"], input[type="password"] {
      width: 100%;
      width: -moz-available;
      width: -webkit-fill-available;
      width: fill-available;
    }
    
    
    
    
    .register-button {
      margin-top: 0.2857rem;
    }
    
    /* thank you page specific styles */
    
    
    .welcome-image {
      padding-bottom: 2.143rem;
    }
    
    
    .complete-message {
      padding-bottom: 5.714rem;
    }
    
    
    
    }
    
    @media screen and (max-width: 500px) {
    
    }
    @media screen and (max-width: 320px) {
    /* common styles */
    .hide-on-small {
      display: none !important;
    }
    
    .show-on-small-only {
      display: block !important;
    }
    
    .show-on-medium-down {
      display: block !important;
    }
    
    .hide-on-medium-down {
      display: none !important;
    }
    
    .float-left, .float-right {
      width: 100%;
      float: left;
    }
    
    
    .header-logo-subtitle {
      font-size: 0.7143rem;
    }
    
    
    .italic-instructions {
      text-align: center;
      padding-bottom: 2.1428rem;
    }
    
    .label.large {
      padding-bottom: 0;
      text-align: center;
    }
    
    
    .m-section {
      padding-top: 1.429rem;
      padding-left: 1.143rem;
      padding-right: 1.143rem;
    }
    
    .m-subsection {
      padding-bottom: 1.429rem;
      display: block;
    }
    
    .m-header {
      padding-bottom: 1.429rem;
    }
    
    .welcome-section .m-header {
      padding-bottom: 0;
    }
    
    /* .welcome-section .m-subsection .float-left {
      text-align: center;
    } */
    
    .m-header-text.xlarge {
      font-size: 2rem;
      line-height: 2.143rem;
    }
    
    .m-header-text.large {
      font-size: 1.75rem;
      padding-bottom: 0.75rem;
    }
    
    .m-header-text.medium {
      font-size: 1.25rem;
    }
    
    .m-header-text.small {
      font-size: 1.25rem;
    }
    
    .m-image {
      max-width: 22.43rem;
    }
    
    .m-browser-image-container img {
      max-width: 22.43rem;
    }
    
    .align-middle {
      height: auto;
      display: block;
    }
    
    .m-image {
      max-width: 23.43rem;
    }

    .m-subsection .float-left {
      max-width: 100%;
    }
    
    .m-subheading {
      font-size: 1.75rem;
      padding-bottom: 0.75rem;
      margin-top: 0;
    }
    
    .m-text {
      font-size: 1.25rem;
    }
    
    .register-button {
      width: 100%;
      margin-top: 0;
    }
    
    select, input[type="text"], input[type="password"] {
      width: 100%;
      width: -moz-available;
      width: -webkit-fill-available;
      width: fill-available;
    }
    
    .welcome-image {
      padding-bottom: 1.429rem;
    }
    
    
    
    .complete-message {
      padding-bottom: 4.286rem;
    }
    
    .main-content {
      padding-bottom: 1.429rem;
    }
  
}

.courses{
  display: grid;
  grid-template-columns: auto 800px;
}

.contacts{
  font-size: 40px;
  padding-left: 440px;
  color: #000769;
}